@media (min-width:320px) and (max-width:767px){
    
    /* ================================================== */

    /*  Page - Login CSS	*/

    /* ================================================== */

    .login--row{
        flex-direction: column-reverse;
    }
    .login--row-right-wrapper{
        padding: 34px 20px 24px 20px;
    }
    .login--row-right-content .clubby--logo{
        margin-bottom: 38px;
    }
    .form--title{
        margin-bottom: 20px;
    }
    .or--wrapper{
        margin: 20px 0;
    }

    .login--row-left-wrapper{
        padding: 20px;
    }
    .login--row-left-content h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }


    /* ================================================== */

    /*  Header Section CSS	*/

    /* ================================================== */

    .header--section{
        padding:20px 16px;
    }
    .logo--and--menu .nav-brand.logo{
        margin-right: 32px;
    }

    .main--menu{
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background:#ffffff;
        padding: 20px 24px;
        border-top: 1px solid #E5E5E5;
        z-index: 99999;
    }
    .main--menu .nav{
        justify-content:center;
    }
    .main--menu .nav .nav-item:not(:last-child) {
        margin-right: 48px;
    }


    .notification--and--profile .nav li.notification .dropdown-menu{
        transform: translate3d(-238px, 60px, 0px)!important;
        width: 100%;
        min-width: 344px;
        padding-bottom: 16px;
    }
    .notification--and--profile .nav li.notification .dropdown-menu::after{
        right:22%;
    }
    .notification--and--profile .nav li.notification .notification--header{
        padding: 20px 16px;
    }
    .notification--and--profile .nav li.notification .single--notification{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .notification--and--profile .nav > li:not(:last-child) {
        margin-right: 22px;
    }
    .notification--and--profile .nav li.profile > a{
        padding-left: 5px;
        padding-right: 5px;
    }
    .notification--and--profile .nav li.profile > a::after{
        display: none;
    }
    .notification--and--profile .nav li.notification .notification--header .mark--all-as-read{
        font-size:15px;
    }
    .notification--and--profile .nav li.notification .notification--header .mark--all-as-read svg{
        margin-right: 6px;
        width:15px;
    }
    .profile--name{
        display: none;
    }
    .profile--img{
        margin-right: 0;
    }
    .notification--and--profile .nav li.profile .dropdown-menu {
        max-width: 180px;
        padding: 10px 12px;
        box-shadow:0 10px 100px -10px #97989d;
    }
    .notification--and--profile .nav li.profile .dropdown-menu::after{
        left: 86%;
    }
    .notification--and--profile .nav li.profile .dropdown-menu li a img{
        margin-right: 10px;
    }



    /* ================================================== */

    /*  Index Page CSS	*/

    /* ================================================== */

    .main--content{
        padding: 16px;
        margin-bottom: 82px;
    }


    /* Left Area Content CSS */

    .left--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .join--club-modal .modal-content{
        padding: 16px;
    }

    .join--club-modal .modal-content .modal-header h2 {
        font-size:22px;
    }

    .join--club-modal .modal-content .modal-body {
        padding:24px 0; 
    }
    .join--club-submit, .join--club-cancel{
        width:144px;
    }

    /* Right Area Content CSS */

    .right--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
    }
    .show--all-members-modal .modal-content{
        padding: 16px;
    }
    .show--all-members-modal .modal-content .modal-header h2{
        font-size:22px;
    }
    .show--all-members-modal .modal-content .modal-body{
        padding: 16px 0 0 0;
    }

    /* Middle Area Content CSS*/

    .middle--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .club--profile-view{
        padding:16px;
        min-height: auto;
    }
    .club--profile-share-leave-edit .club--edit-btn{
        display: none;
    }
    .club--profile-share-leave-edit .club--leave-btn{
        width: 40px;
    }
    .club--profile-share-leave-edit .club--leave-btn span{
        display: none
    }
    .club--profile-share-leave-edit .club--leave-btn img{
        margin-right: 0;
    }
    .collapse--explore-btn{
        display: none;
    }
    .post--announcement-profile-img{
        display: none;
    }
    .create--post-btn{
        width:91px;
        font-size:12px;
    }
    .post--announcement-wrapper{
        padding:16px;
    }

    .single--post-wrapper {
        padding:16px;
    }
    .post--comment-box{
        padding-right: 0;
    }
    .post--text-box{
        padding-right: 24px;
    }
    .post--author-box,
    .post--author-details,
    .post--author-liks-comment{
        width: 100%;
        flex-wrap: wrap;
    }
    .post--author-liks-comment{
        margin-top: 16px;
    }
    .post--author-liks-comment p.total--likes {
        margin-right: 24px;
    }
    .show--all-comment{
        padding: 0;
    }
    .club--profile-share-leave-edit{
        display: inline-flex;
        flex-direction: row-reverse;
    }

    .explore--about-members-list{
        width: 100%;
        height: 64px;
        background: var(--white);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin-bottom: 16px;
    }
    .explore--about-members-list a:not(:last-child){
        padding-right: 4px;
    }
    .explore--about-members-list a{
        font-family: 'Source Sans Pro',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #3F4354;
        text-decoration: none;
    }
    .explore--about-members-list a.active{
        color: #0070B2;
    }


    /* ================================================== */

    /*  Create Club Page CSS	*/

    /* ================================================== */

    .create--club-wrapper{
        width: 100%;
        max-width:100%;
        flex-wrap: wrap;
    }
    .create--club-left-area{
        max-width:100%;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .create--club-left-area-content{
        padding: 16px;
    }
    .club--settings-save, .club--settings-cancel{
        width:144px;
    }
    .create--club-right-area{
        max-width:100%;
        flex-basis: 100%;
    }
    .create--club-right-area-content{
        padding: 16px;
    }
    .club--preview-title{
        margin-bottom: 16px;
    }
    .club--preview-title h2{
        text-align: left;
    }

    /* ================================================== */

    /*  Message Page CSS CSS	*/

    /* ================================================== */

    .messager--header-area{
        padding:16px;
    }
    .message--body-area{
        padding:20px 16px 0 16px;
    }
    .member--message--wrapper, .my--message--wrapper{
        margin-bottom: 16px;
    }
    .member--profile-img {
        margin-right: 16px;
    }
    .member--profile-img img, .my--profile-img img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    .my--profile-img{
        margin-left: 16px;
    }
    .message--footer-area{
        padding: 16px;
    }
    .profile--and-files > img.img-fluid{
        margin-right: 8px;
    }
    .profile--and-files {
        max-width: 80px;
        margin-right: 8px;
    }
    .send--message-input {
        margin-right: 8px;
    }
    .profile--and-files > img.img-fluid,
    .profile--and-files .upload--files{
        width: 32px;
        height: 32px;
    }
    .send--message-input{
        width:85%;
    }
    .send--message-input input{
        padding:8px 12px;
    }
    .send--message-btn{
        height:38px;
    }

    .club-mesage--profile-img .dropdown-menu{
        top: 64px!important;
        left: -16px!important;
        width: 100%;
        min-width: 342px;
        max-width: 342px;
    }

    .club-mesage--profile-img .dropdown-menu::after{
        top: -14px;
        left: 46px;
        transform: unset;
    }
}

@media (min-width:768px) and (max-width:991px){

    /* ================================================== */

    /*  Page - Login CSS	*/

    /* ================================================== */

    .login--row{
        flex-direction: column-reverse;
    }
    .login--row-right-wrapper{
        padding: 64px 40px 48px 40px;
    }
    .login--row-right-content .clubby--logo{
        margin-bottom: 40px;
    }
    .or--wrapper{
        margin: 24px 0;
    }

    .login--row-left-wrapper{
        padding: 40px;
    }


    /* ================================================== */

    /*  Header Section CSS	*/

    /* ================================================== */
    
    .header--section{
        padding:20px 16px;
    }
    .logo--and--menu .nav-brand.logo{
        margin-right: 32px;
    }

    .main--menu{
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background:#ffffff;
        padding: 20px 24px;
        border-top: 1px solid #E5E5E5;
        z-index: 99999;
    }
    .main--menu .nav{
        justify-content:center;
    }
    .main--menu .nav .nav-item:not(:last-child) {
        margin-right: 48px;
    }
    .notification--and--profile .nav li.notification .dropdown-menu{
        transform: translate3d(50px, 60px, 0px)!important;
        width: 100%;
        min-width: 490px;
        padding-bottom: 16px;
    }
    .notification--and--profile .nav li.notification .dropdown-menu::after{
        right:12%;
    }
    .notification--and--profile .nav li.notification .notification--header{
        padding: 20px 16px;
    }
    .notification--and--profile .nav li.notification .single--notification{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .notification--and--profile .nav > li:not(:last-child) {
        margin-right: 22px;
    }
    .notification--and--profile .nav li.profile > a{
        padding-left: 5px;
        padding-right: 5px;
    }
    .notification--and--profile .nav li.profile > a::after{
        display: none;
    }
    .notification--and--profile .nav li.notification .notification--header .mark--all-as-read{
        font-size:15px;
    }
    .notification--and--profile .nav li.notification .notification--header .mark--all-as-read svg{
        margin-right: 6px;
        width:15px;
    }
    .profile--name{
        display: none;
    }
    .profile--img{
        margin-right: 0;
    }
    .notification--and--profile .nav li.profile .dropdown-menu {
        max-width: 180px;
        padding: 10px 12px;
        box-shadow:0 10px 100px -10px #97989d;
    }
    .notification--and--profile .nav li.profile .dropdown-menu::after{
        left: 86%;
    }
    .notification--and--profile .nav li.profile .dropdown-menu li a img{
        margin-right: 10px;
    }

     /* ================================================== */

    /*  Index Page CSS	*/

    /* ================================================== */

    .main--content{
        padding: 16px;
        margin-bottom: 82px;
    }


    /* Left Area Content CSS */

    .left--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .join--club-modal .modal-content{
        padding: 16px;
    }

    .join--club-modal .modal-content .modal-header h2 {
        font-size:22px;
    }

    .join--club-modal .modal-content .modal-body {
        padding:24px 0; 
    }
    .join--club-submit, .join--club-cancel{
        width:144px;
    }

    /* Right Area Content CSS */

    .right--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
    }
    .show--all-members-modal .modal-content{
        padding: 16px;
    }
    .show--all-members-modal .modal-content .modal-header h2{
        font-size:22px;
    }
    .show--all-members-modal .modal-content .modal-body{
        padding: 16px 0 0 0;
    }

    /* Middle Area Content CSS*/

    .middle--area-content{
        max-width: 100%;
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .club--profile-view{
        padding:16px;
        min-height: auto;
    }
    .collapse--explore-btn{
        display: none;
    }

    .single--post-wrapper {
        padding:16px;
    }
    .post--comment-box{
        padding-right: 0;
    }
    .post--text-box{
        padding-right: 24px;
    }
    .post--author-box,
    .post--author-details,
    .post--author-liks-comment{
        width: 100%;
        flex-wrap: wrap;
    }
    .post--author-liks-comment{
        margin-top: 16px;
    }
    .post--author-liks-comment p.total--likes {
        margin-right: 24px;
    }
    .show--all-comment{
        padding: 0;
    }

    .member--list .member--list-item {
        max-width: 10%;
        flex-basis: 10%;
        margin-top: 20px;
    }


     /* ================================================== */

    /*  Create Club Page CSS	*/

    /* ================================================== */

    .create--club-wrapper{
        width: 100%;
        max-width:100%;
        flex-wrap: wrap;
    }
    .create--club-left-area{
        max-width:100%;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    
    .club--settings-save, .club--settings-cancel{
        width:144px;
    }
    .create--club-right-area{
        max-width:100%;
        flex-basis: 100%;
    }
    .create--club-right-area-content{
        padding: 20px;
    }
    .club--preview-title{
        margin-bottom: 16px;
    }

}

@media (min-width:992px) and (max-width:1199px){

    /* ================================================== */

    /*  Page - Login CSS	*/

    /* ================================================== */

    .login--row-left-wrapper{
        padding: 108px 24px;
    }
    .login--row-right-wrapper{
        padding:64px 24px;
    }
    .login--row-right-content .clubby--logo{
        margin-bottom: 40px;
    }
    .form--title {
        margin-bottom: 24px;
    }


    /* ================================================== */

    /*  Header Section CSS	*/

    /* ================================================== */

    .logo--and--menu .nav-brand.logo {
        margin-right: 72px;
    }


    /* ================================================== */

    /*  Index Page CSS	*/

    /* ================================================== */

    .header--section{
        padding: 20px 24px;
    }

    .main--content{
        padding:20px 24px;
    }

    .left--area-content {
        max-width: 20%;
        flex-basis: 20%;
        margin-right: 16px;
    }

    .middle--area-content {
        max-width: 52%;
        flex-basis: 52%;
        margin-right: 16px;
    }

    .right--area-content {
        max-width: 24%;
        flex-basis: 24%;
    }

    .club--profile-view{
        padding:16px;
    }
    .post--announcement-wrapper{
        padding:16px;
    }
    .single--post-wrapper{
        padding:16px;
    }
    .post--text-box{
        padding-right: 24px;
    }
    .post--comment-box{
        padding-right: 0;
    }

    .about--content{
        padding:16px;
    }
    .all--member-list{
        padding:16px;
    }
    .upcomming--event-list{
        padding:16px 10px 16px 16px;
    }
    .upcoming--event-content span{
        margin-top: 4px;
    }
    .member--list {
        justify-content: flex-start;
    }
    .member--list .member--list-item {
        max-width: 25%;
        flex-basis: 25%;
        margin-top: 16px;
    }
    .budget--goals-header{
        flex-wrap: wrap;
    }
    .show--public{
        margin-top: 16px;
    }

     /* ================================================== */

    /*  Create Club Page CSS	*/

    /* ================================================== */

    .create--club-wrapper{
        max-width:100%;
    }
    .create--club-right-area-content{
        padding: 20px;
    }
    .club--settings-save, .club--settings-cancel{
        width:144px;
    }
    .show--budget-all-members h5, .allow--post-announcement h5{
        padding-right: 8px;
    }


    /* ================================================== */

    /*  Message Page CSS	*/

    /* ================================================== */

    .club-mesage--profile-img .dropdown-menu{
        width: 100%;
        min-width:380px;
        max-width:380px;
    }

}

@media (min-width:1200px) and (max-width:1399px){

    /* ================================================== */

    /*  Page - Login CSS	*/

    /* ================================================== */

    .login--row-left-wrapper{
        padding: 116px 32px;
    }

    .login--row-right-wrapper{
        padding:96px 32px 72px 32px;
    }

    /* ================================================== */

    /*  Index Page CSS	*/

    /* ================================================== */

    .header--section{
        padding: 20px 24px;
    }

    .main--content{
        padding:20px 24px;
    }

    .left--area-content {
        max-width: 20%;
        flex-basis: 20%;
        margin-right: 16px;
    }

    .middle--area-content {
        max-width: 52%;
        flex-basis: 52%;
        margin-right: 16px;
    }

    .right--area-content {
        max-width: 24%;
        flex-basis: 24%;
    }

    .club--profile-view{
        padding:16px;
    }
    .post--announcement-wrapper{
        padding:16px;
    }
    .single--post-wrapper{
        padding:16px;
    }
    .post--text-box{
        padding-right: 24px;
    }
    .post--comment-box{
        padding-right: 0;
    }

    .about--content{
        padding:16px;
    }
    .all--member-list{
        padding:16px;
    }
    .upcomming--event-list{
        padding:16px 10px 16px 16px;
    }
    .upcoming--event-content span{
        margin-top: 4px;
    }
    .member--list {
        justify-content: flex-start;
    }
    .member--list .member--list-item {
        max-width: 25%;
        flex-basis: 25%;
        margin-top: 16px;
    }
    .budget--goals-header{
        flex-wrap: wrap;
    }
    .show--public{
        margin-top: 16px;
    }

      /* ================================================== */

    /*  Create Club Page CSS	*/

    /* ================================================== */

    .create--club-wrapper{
        max-width:100%;
    }
    .create--club-right-area-content{
        padding: 20px;
    }
    .club--settings-save, .club--settings-cancel{
        width:144px;
    }
    .show--budget-all-members h5, .allow--post-announcement h5{
        padding-right: 8px;
    }

}

@media (min-width:1400px) and (max-width:1599px){

    /* ================================================== */

    /*  Page - Login CSS	*/

    /* ================================================== */

    .login--row-right-wrapper{
        padding:114px 136px 74px 136px;
    }

    /* ================================================== */

    /*  Index Page CSS CSS	*/

    /* ================================================== */
    .left--area-content,
    .middle--area-content{
        margin-right: 16px;
    }


}