@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
/*
font-family: 'Source Sans Pro', sans-serif;
*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root{
    --white:#ffffff;
    --black:#000000;
    --blue:#0070B2;
    --gradient: linear-gradient(146.39deg, #0070B2 -0.65%, #0079B6 13.32%, #0092C3 36.57%, #00A3CB 84.07%);
    --secondary-black:#1B1B1B;
    --secondary-color: #3F4354;
    --secondary-1:#192351;
    --secondary-2:#F7F7F7;
    --secondary-3:#97989D;
    --secondary-4:#858EAD;
    --secondary-6:#F4F6F8;
}

/* ================================================== */

/*  Common CSS	*/

/* ================================================== */

p{
    margin-bottom: 0;
}
.nav{
    align-items: center;
}



/* ================================================== */

/*  Page - Login CSS	*/

/* ================================================== */


.login--row-left-wrapper{
    background: var(--gradient);
    padding: 180px 130px;
}
.login--row-left-content{
    width: 100%;
    max-width: 442px;
}
.login--row-left-content h2{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: var(--white);
    margin-bottom: 40px;
}
.login--row-left-content .login--content-box:not(:last-child){
    margin-bottom: 20px;
}
.login--content-box{
    display:flex;
    align-items: center;
    background: var(--white);
    border-radius: 8px;
    padding: 29px 20px;
}
.login--content-box-img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.login--content-box-text p{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--secondary-color);
}

.login--row-right-wrapper{
    background:var(--white);
    padding:114px 160px 74px 160px;
}
.login--row-right-content{
    width: 100%;
    max-width: 420px;
}
.login--row-right-content .clubby--logo{
    margin-bottom: 70px;
}
.form--title{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color:var(--secondary-black);
    margin-bottom: 29px;
}
.login--form .form-group{
    margin-bottom: 20px;
}
.login--form .form-group label{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
.login--form .form-group input{
    border: 0;
    box-shadow: none;
    outline: 0;
    background: var(--secondary-6);
    border-radius: 8px;
    padding: 13px 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-3);
}
.login--form-submit{
    border: 0;
    box-shadow: none;
    outline: 0;
    width: 100%;
    max-width: 420px;
    height: 46px;
    background: var(--blue);
    border-radius: 8px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--secondary-2);
    padding: 10px 12px;
    margin-bottom: 20px;
}
.login--form-submit:hover{
    background: var(--blue);
    color: var(--secondary-2);
}
.switch--login span,
.switch--login a{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
}
.switch--login a{
    text-decoration: none;
    cursor: pointer;
}
.or--wrapper{
    margin: 29px 0;
    text-align: center;
    position: relative;
}
.or--wrapper::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #C5D0E6;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
}
.or--wrapper span{
    position: relative;
    display: inline-block;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    background: var(--white);
    color: var(--secondary-color);
    padding: 8px 20px;
    z-index: 2;
}
.google--login{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: none;
    outline: 0;
    width: 100%;
    max-width: 420px;
    height: 46px;
    background: var(--secondary-6);
    border-radius: 8px;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    padding: 13px 20px;
}
.google--login img{
    margin-right: 10px;
}

.google--login:hover{
    background: var(--secondary-6);
    color: var(--secondary-color);
}




/* ================================================== */

/*  Header Section CSS	*/

/* ================================================== */

.header--section{
    background:var(--white);
    padding:22px 40px;
}
.header--section-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo--and--menu{
    display: flex;
    align-items: center;
}
.logo--and--menu .nav-brand.logo{
    margin-right: 84px;
}
.main--menu .nav .nav-item:not(:last-child){
    margin-right: 24px;
}
.main--menu .nav .nav-item a{
    padding:6px 10px 10px;
    cursor: pointer;
}
.main--menu .nav .nav-item a svg{
    width:20px;
    height:21px;
    margin-top: -2px;
}
.main--menu .nav .nav-item a.active{
    background: var(--gradient);
    border-radius: 7px;
}
.main--menu .nav .nav-item a.active svg path{
    fill:var(--white);
}
.notification--and--profile .nav > li:not(:last-child){
    margin-right: 25px;
}
.notification--and--profile .nav li.notification > a{
    padding:6px 10px 10px;
    cursor: pointer;
    background: var(--secondary-6);
    border-radius: 7px;
}
.notification--and--profile .nav li.notification > a svg{
    width: 20px;
    height:20px;
}
.notification--and--profile .nav li.notification > a::after{
    display: none;
}
.notification--and--profile .nav li.notification .dropdown-menu{
    border: none;
    background: #ffffff;
    width: 100%;
    min-width: 590px;
    box-shadow: 0 16px 100px -20px #97989D;
    transform: translate(150px, 60px)!important;
    padding-bottom: 20px;
}
.notification--and--profile .nav li.notification .dropdown-menu::after{
    position: absolute;
    top: -10px;
    right:27%;
    margin-left: -10px;
    content:"";
    display:block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff; 
}
.notification--and--profile .nav li.notification .notification--header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid var(--secondary-2);
}
.notification--and--profile .nav li.notification .notification--header .notification--title{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: var(--secondary-color);
}
.notification--and--profile .nav li.notification .notification--header .mark--all-as-read{
    border: 0;
    outline: 0;
    background: var(--secondary-2);
    border-radius: 6px;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-3);
    padding: 7px 10px;
    display: inline-flex;
    align-items: center;
}
.notification--and--profile .nav li.notification .notification--header .mark--all-as-read svg{
    margin-right: 10px;
}

.notification--and--profile .nav li.notification .single--notification{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-flex;
    align-items: flex-start;
}
.notification--type-img{
    margin-right: 30px;
    position: relative;
}
.notification--type{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 8%);
}
.notification--text h2{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 6px;
}
.notification--text h2 a{
    color: var(--secondary-3);
    text-decoration: none;
}
.notification--comment-text{
    background: #F7F7F7;
    border-radius: 4px;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-3);
    padding: 12px 14px;
    margin-bottom: 6px;
}
.notification--text h6{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--secondary-3);
    margin-bottom: 4px;
}
.notification--text p{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-3);
}

.profile--img{
    width:34px;
    height:34px;
    outline-style:solid;
    outline-color:var(--gradient);
    outline-width:1px;
    outline-offset:2px;
    border-radius: 8px;
    margin-right: 16px;
}
.profile--name{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-1);
    padding-right: 12px;
}

.notification--and--profile .nav li.profile > a::after{
    vertical-align: 0.15em;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    color: var(--secondary-4);
}
.notification--and--profile .nav li.profile .dropdown-menu{
    border: none;
    background: #ffffff;
    width: 100%;
    max-width: 192px;
    padding: 26px 16px;
    box-shadow: 0 16px 100px -20px #97989D;
    transform: translate(0px, 60px)!important;
}
.notification--and--profile .nav li.profile .dropdown-menu::after{
    position: absolute;
    top: -10px;
    left:50%;
    margin-left: -10px;
    content:"";
    display:block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff; 
}
.notification--and--profile .nav li.profile .dropdown-menu li:not(:last-child){
    margin-bottom: 12px;
}
.notification--and--profile .nav li.profile .dropdown-menu li a{
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
}
.notification--and--profile .nav li.profile .dropdown-menu li a img{
    margin-right: 14px;
}
.notification--and--profile .nav li.profile .dropdown-menu li:hover a{
    background: var(--white);
}


.body--main-area{
    background:#F7F7F7;
    width: 100%;
    height:400px;
}